In [2]:
import pandas as pd
import pytz

data = pd.read_csv("Data/acndata_sessions 2019_11 till 2020_5 caltech.csv")
data.shape[1]
df = data.drop(data.columns[19:93], axis=1)
df = df.drop(df.columns[[0,1,6,9,10]], axis = 1)

# Define time zones
gmt_tz = pytz.timezone("GMT")  # UTC/GMT
pacific_tz = pytz.timezone("America/Los_Angeles")  # PST/PDT

# Convert relevant datetime columns
time_columns = ["connectionTime", "userInputs/0/modifiedAt", "userInputs/0/requestedDeparture"]  # Adjust based on your dataset

for col in time_columns:
    df[col] = pd.to_datetime(df[col], errors="coerce")  # Convert to datetime
    df[col] = df[col].dt.tz_localize(gmt_tz, ambiguous="NaT", nonexistent="NaT")  # Assign GMT
    df[col] = df[col].dt.tz_convert(pacific_tz)  # Convert to PST/PDT

df['connectionTime'] = pd.to_datetime(df['connectionTime'])
df['connectionTime'] = df['connectionTime'].dt.hour + df['connectionTime'].dt.minute / 60 + df['connectionTime'].dt.second / 3600

df["userInputs/0/modifiedAt"] = pd.to_datetime(df['userInputs/0/modifiedAt'])
df["userInputs/0/modifiedAt"] = df['userInputs/0/modifiedAt'].dt.hour + df['userInputs/0/modifiedAt'].dt.minute / 60 + df['userInputs/0/modifiedAt'].dt.second / 3600

df['userInputs/0/requestedDeparture'] = pd.to_datetime(df['userInputs/0/requestedDeparture'])
df['userInputs/0/requestedDeparture'] = df['userInputs/0/requestedDeparture'].dt.hour + df['userInputs/0/requestedDeparture'].dt.minute / 60 + df['userInputs/0/requestedDeparture'].dt.second / 3600

df['disconnectTime'] = pd.to_datetime(df['disconnectTime'])
df['disconnectTime'] = df['disconnectTime'].dt.hour + df['disconnectTime'].dt.minute / 60 + df['disconnectTime'].dt.second / 3600

df['userInputs/0/paymentRequired'] = df['userInputs/0/paymentRequired'].replace({True: 1, False: 0})

df['spaceID'] = df['spaceID'].str.replace('CA-', '')

df = df.apply(pd.to_numeric, errors='coerce') 
display(df)

df.to_csv('caltech_clean.csv')

C:\Users\chris\AppData\Local\Temp\ipykernel_31024\616299600.py:33: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['userInputs/0/paymentRequired'] = df['userInputs/0/paymentRequired'].replace({True: 1, False: 0})

,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,userID,userInputs/0/WhPerMile,userInputs/0/kWhRequested,userInputs/0/milesRequested,userInputs/0/minutesAvailable,userInputs/0/modifiedAt,userInputs/0/paymentRequired,userInputs/0/requestedDeparture
0,7.187222,15.451667,NaN,4.279,2,315,743.0,400.0,8.00,20.0,30.0,7.191944,1.0,7.687222
1,7.718056,23.609722,NaN,11.769,2,316,4269.0,400.0,16.00,40.0,60.0,7.865000,1.0,8.718056
2,7.867222,20.912778,NaN,0.889,2,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8.414444,19.320833,NaN,13.430,2,323,3853.0,360.0,21.60,60.0,559.0,8.418889,1.0,17.731111
4,8.984722,23.126944,NaN,12.001,2,492,1470.0,292.0,20.44,70.0,400.0,8.990556,1.0,15.651389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3504,12.148056,4.215000,NaN,6.254,2,305,5594.0,400.0,8.00,20.0,60.0,12.148056,1.0,13.148056
3505,13.101667,22.619444,NaN,0.820,2,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3506,15.625000,22.791389,NaN,0.544,2,303,743.0,400.0,8.00,20.0,187.0,15.626667,1.0,18.741667
3507,9.375556,19.227222,NaN,19.086,2,303,1316.0,400.0,52.00,130.0,172.0,9.383333,1.0,12.242222
3508,9.834167,17.027778,NaN,0.591,2,313,1920.0,600.0,12.00,20.0,109.0,9.854444,1.0,11.650833

In [3]:
data = pd.read_csv("Data/acndata_sessions 2019_11 till 2020_5 jpl.csv")
#display(data)
data.shape[1]
df = data.drop(data.columns[19:189], axis=1)
df = df.drop(df.columns[[0,1,6,9,10]], axis = 1)

# Define time zones
gmt_tz = pytz.timezone("GMT")  # UTC/GMT
pacific_tz = pytz.timezone("America/Los_Angeles")  # PST/PDT

# Convert relevant datetime columns
time_columns = ["connectionTime", "userInputs/0/modifiedAt", "userInputs/0/requestedDeparture"]  # Adjust based on your dataset

for col in time_columns:
    df[col] = pd.to_datetime(df[col], errors="coerce")  # Convert to datetime
    df[col] = df[col].dt.tz_localize(gmt_tz, ambiguous="NaT", nonexistent="NaT")  # Assign GMT
    df[col] = df[col].dt.tz_convert(pacific_tz)  # Convert to PST/PDT

df['connectionTime'] = pd.to_datetime(df['connectionTime'])
df['connectionTime'] = df['connectionTime'].dt.hour + df['connectionTime'].dt.minute / 60 + df['connectionTime'].dt.second / 3600

df["userInputs/0/modifiedAt"] = pd.to_datetime(df['userInputs/0/modifiedAt'])
df["userInputs/0/modifiedAt"] = df['userInputs/0/modifiedAt'].dt.hour + df['userInputs/0/modifiedAt'].dt.minute / 60 + df['userInputs/0/modifiedAt'].dt.second / 3600

df['userInputs/0/requestedDeparture'] = pd.to_datetime(df['userInputs/0/requestedDeparture'])
df['userInputs/0/requestedDeparture'] = df['userInputs/0/requestedDeparture'].dt.hour + df['userInputs/0/requestedDeparture'].dt.minute / 60 + df['userInputs/0/requestedDeparture'].dt.second / 3600

df['disconnectTime'] = pd.to_datetime(df['disconnectTime'])
df['disconnectTime'] = df['disconnectTime'].dt.hour + df['disconnectTime'].dt.minute / 60 + df['disconnectTime'].dt.second / 3600

df['userInputs/0/paymentRequired'] = df['userInputs/0/paymentRequired'].replace({True: 1, False: 0})

df['spaceID'] = df['spaceID'].str.replace('AG-', '')
df['spaceID'] = df['spaceID'].str.replace('F', '')

df = df.apply(pd.to_numeric, errors='coerce') 
display(df)

df.to_csv('jpl_clean.csv')

C:\Users\chris\AppData\Local\Temp\ipykernel_31024\299950088.py:1: DtypeWarning: Columns (169,170,171,177,178,179,185,186,187) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Data/acndata_sessions 2019_11 till 2020_5 jpl.csv")
C:\Users\chris\AppData\Local\Temp\ipykernel_31024\299950088.py:31: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['userInputs/0/paymentRequired'] = df['userInputs/0/paymentRequired'].replace({True: 1, False: 0})

,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,userID,userInputs/0/WhPerMile,userInputs/0/kWhRequested,userInputs/0/milesRequested,userInputs/0/minutesAvailable,userInputs/0/modifiedAt,userInputs/0/paymentRequired,userInputs/0/requestedDeparture
0,21.916111,9.495833,NaN,5.589,1,108,405.0,400.0,8.00,20.0,157.0,21.923056,1.0,0.532778
1,4.147778,20.586667,NaN,9.369,1,113,467.0,400.0,16.00,40.0,169.0,4.148333,1.0,6.964444
2,5.058611,23.512778,NaN,6.351,1,101,3836.0,400.0,8.00,20.0,60.0,5.061389,1.0,6.058611
3,5.625278,22.800000,NaN,15.906,1,112,3152.0,333.0,16.65,50.0,481.0,5.636667,1.0,13.641944
4,5.834444,19.711111,NaN,20.012,1,325,4147.0,400.0,20.00,50.0,61.0,5.836389,1.0,6.851111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6875,12.629722,22.899444,NaN,0.734,1,322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6876,12.824167,22.618889,NaN,17.300,1,107,3328.0,286.0,40.04,140.0,720.0,12.834722,1.0,0.824167
6877,13.366667,21.640833,NaN,6.752,1,104,5015.0,600.0,24.00,40.0,285.0,13.368611,1.0,18.116667
6878,14.700000,4.795278,NaN,13.484,1,110,3670.0,278.0,19.46,70.0,325.0,14.699722,1.0,20.116667
6879,14.898333,5.729444,NaN,13.144,1,105,3331.0,229.0,4.58,20.0,329.0,14.903611,1.0,20.381667

In [4]:
data = pd.read_csv("Data/acndata_sessions 2019_11 till 2020_5 office1.csv")

#display(data)
data.shape[1]
df = data.drop(data.columns[20:189], axis=1)
df = df.drop(df.columns[[0,1,6,9,10,12]], axis = 1)

# Define time zones
gmt_tz = pytz.timezone("GMT")  # UTC/GMT
pacific_tz = pytz.timezone("America/Los_Angeles")  # PST/PDT

# Convert relevant datetime columns
time_columns = ["connectionTime", "userInputs/0/modifiedAt", "userInputs/0/requestedDeparture"]  # Adjust based on your dataset

for col in time_columns:
    df[col] = pd.to_datetime(df[col], errors="coerce")  # Convert to datetime
    df[col] = df[col].dt.tz_localize(gmt_tz, ambiguous="NaT", nonexistent="NaT")  # Assign GMT
    df[col] = df[col].dt.tz_convert(pacific_tz)  # Convert to PST/PDT

df['connectionTime'] = pd.to_datetime(df['connectionTime'])
df['connectionTime'] = df['connectionTime'].dt.hour + df['connectionTime'].dt.minute / 60 + df['connectionTime'].dt.second / 3600

df["userInputs/0/modifiedAt"] = pd.to_datetime(df['userInputs/0/modifiedAt'])
df["userInputs/0/modifiedAt"] = df['userInputs/0/modifiedAt'].dt.hour + df['userInputs/0/modifiedAt'].dt.minute / 60 + df['userInputs/0/modifiedAt'].dt.second / 3600

df['userInputs/0/requestedDeparture'] = pd.to_datetime(df['userInputs/0/requestedDeparture'])
df['userInputs/0/requestedDeparture'] = df['userInputs/0/requestedDeparture'].dt.hour + df['userInputs/0/requestedDeparture'].dt.minute / 60 + df['userInputs/0/requestedDeparture'].dt.second / 3600

df['disconnectTime'] = pd.to_datetime(df['disconnectTime'])
df['disconnectTime'] = df['disconnectTime'].dt.hour + df['disconnectTime'].dt.minute / 60 + df['disconnectTime'].dt.second / 3600

df['userInputs/0/paymentRequired'] = df['userInputs/0/paymentRequired'].replace({True: 1, False: 0})

df = df.apply(pd.to_numeric, errors='coerce') 
display(df)

df.to_csv('office1_clean.csv')

C:\Users\chris\AppData\Local\Temp\ipykernel_31024\730691647.py:32: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['userInputs/0/paymentRequired'] = df['userInputs/0/paymentRequired'].replace({True: 1, False: 0})

,connectionTime,disconnectTime,doneChargingTime,kWhDelivered,siteID,spaceID,userID,userInputs/0/WhPerMile,userInputs/0/kWhRequested,userInputs/0/milesRequested,userInputs/0/minutesAvailable,userInputs/0/modifiedAt,userInputs/0/paymentRequired,userInputs/0/requestedDeparture
0,7.223889,23.368611,NaN,12.260,19,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.408056,22.338889,NaN,34.153,19,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8.177222,20.317778,NaN,5.844,19,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9.801667,18.476389,NaN,10.801,19,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10.417500,19.212500,NaN,5.703,19,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,13.775556,22.270833,NaN,8.842,19,8,6140.0,400.0,75.2,188.0,514.0,13.785556,1.0,22.342222
541,8.380278,0.367222,NaN,26.174,19,5,6620.0,400.0,24.0,60.0,509.0,8.384167,1.0,16.863611
542,8.775278,20.796111,NaN,14.350,19,1,6038.0,400.0,32.0,80.0,65.0,8.796111,1.0,9.858611
543,10.055833,23.593056,NaN,20.403,19,1,6620.0,400.0,24.0,60.0,509.0,10.058056,1.0,18.539167
544,12.127500,2.700278,NaN,30.732,19,8,6140.0,400.0,75.2,188.0,514.0,12.127500,1.0,20.694167