In [35]:
import pandas as pd
import pytz

data = pd.read_csv("Data/acndata_sessions 2019_11 till 2020_5 caltech.csv")
data.shape[1]
df = data.drop(data.columns[20:93], axis=1)
df = df.drop(df.columns[[0,1,3,4,5,6]], axis = 1)
df = df.drop(df.columns[[4,13]], axis = 1)
df = df.drop(df.columns[[3]], axis = 1)

# Define time zones
gmt_tz = pytz.timezone("GMT")  # UTC/GMT
pacific_tz = pytz.timezone("America/Los_Angeles")  # PST/PDT

# Convert relevant datetime columns
time_columns = ["connectionTime", "userInputs/0/modifiedAt", "userInputs/0/requestedDeparture"]  # Adjust based on your dataset

for col in time_columns:
    df[col] = pd.to_datetime(df[col], errors="coerce")  # Convert to datetime
    df[col] = df[col].dt.tz_localize(gmt_tz, ambiguous="NaT", nonexistent="NaT")  # Assign GMT
    df[col] = df[col].dt.tz_convert(pacific_tz)  # Convert to PST/PDT

df['connectionTime'] = pd.to_datetime(df['connectionTime'])
df['connectionTime'] = df['connectionTime'].dt.hour + df['connectionTime'].dt.minute / 60 + df['connectionTime'].dt.second / 3600

df["userInputs/0/modifiedAt"] = pd.to_datetime(df['userInputs/0/modifiedAt'])
df["userInputs/0/modifiedAt"] = df['userInputs/0/modifiedAt'].dt.hour + df['userInputs/0/modifiedAt'].dt.minute / 60 + df['userInputs/0/modifiedAt'].dt.second / 3600

df['userInputs/0/requestedDeparture'] = pd.to_datetime(df['userInputs/0/requestedDeparture'])
df['userInputs/0/requestedDeparture'] = df['userInputs/0/requestedDeparture'].dt.hour + df['userInputs/0/requestedDeparture'].dt.minute / 60 + df['userInputs/0/requestedDeparture'].dt.second / 3600

df['userInputs/0/paymentRequired'] = df['userInputs/0/paymentRequired'].replace({True: 1, False: 0})

df['spaceID'] = df['spaceID'].str.replace('CA-', '')

df = df.apply(pd.to_numeric, errors='coerce') 
display(df)

C:\Users\thijs\AppData\Local\Temp\ipykernel_24168\1696630801.py:32: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['userInputs/0/paymentRequired'] = df['userInputs/0/paymentRequired'].replace({True: 1, False: 0})

,connectionTime,siteID,spaceID,userID,userInputs/0/WhPerMile,userInputs/0/kWhRequested,userInputs/0/milesRequested,userInputs/0/minutesAvailable,userInputs/0/modifiedAt,userInputs/0/paymentRequired,userInputs/0/requestedDeparture
0,7.187222,2,315,743.0,400.0,8.00,20.0,30.0,7.191944,1.0,7.687222
1,7.718056,2,316,4269.0,400.0,16.00,40.0,60.0,7.865000,1.0,8.718056
2,7.867222,2,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8.414444,2,323,3853.0,360.0,21.60,60.0,559.0,8.418889,1.0,17.731111
4,8.984722,2,492,1470.0,292.0,20.44,70.0,400.0,8.990556,1.0,15.651389
...,...,...,...,...,...,...,...,...,...,...,...
3504,12.148056,2,305,5594.0,400.0,8.00,20.0,60.0,12.148056,1.0,13.148056
3505,13.101667,2,303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3506,15.625000,2,303,743.0,400.0,8.00,20.0,187.0,15.626667,1.0,18.741667
3507,9.375556,2,303,1316.0,400.0,52.00,130.0,172.0,9.383333,1.0,12.242222
3508,9.834167,2,313,1920.0,600.0,12.00,20.0,109.0,9.854444,1.0,11.650833